<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connectionStrings>
			<!-- <add name="Bingo" connectionString="server=localhost; database=LUCKPRIZE; uid=sa; pwd=[JPM+da#9;" providerName="System.Data.SqlClient" /> -->
		 <add name="Bingo" connectionString="Data Source=mssql914.umbler.com;Initial Catalog=db_web;User ID=webadmin;Password=m4rc10j0s3;Integrated Security=False;" />
			<!-- <add name="Bingo" connectionString="Data Source=.\SQLExpress;Persist Security Info=True;Integrated Security=SSPI;Initial Catalog=luckprize_Bingo"/> -->
		</connectionStrings>
    <system.web>
        <customErrors mode="Off" />
		
		    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <xhtmlConformance mode="Transitional" />
	<globalization culture="pt-BR" uiCulture="pt-BR" />
		
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
			</controls>
			
			
		</pages>
		
	
    </system.web>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="120" />
		</connectionManagement>

		<mailSettings>
			<smtp from="suporte@luckprize.com">
				<network defaultCredentials="false" host="109.203.104.108" password="1a2b3c4d5e" userName="suporte@luckprize.com" />
			</smtp>
		</mailSettings>
	</system.net>
	
</configuration>
